{
    Hyundai Sonata is one of the most popular car models in united states with market price 23600 usd dollars. Since the driver's age is 38, the insurance price will be relatively lower than young adults.
    "Estimated insurance price range": "$ 839-1571 per year",
     "factors": [
        "market price : 23600",
        "production year : 2019",
        "models: Hyundai Sonata",
        "miles: 80,390",
        "driver's age: 38",
    ]
}