The following is personal top choice for second hand cars.



Give the car model price. Answer the following question in a JSON format. 
The JSON format must contain answer to the question in text and also provide a list of 
prices, production year,color, miles and other traits from the article that support the answer.

The format for the JSON must be as follows:

{
    "answer": "Provide one car model for the question",
    "facts": [
        "price :",
        "production year :",
        "color",
        "miles:",
        "other traits:",
        "driver age:",
    ]
}