{
    "answer": "2019 Hyundai Sonata SE",
    "facts": [
        "price : 15495, $257/mo est",
        "production year : 2019",
        "color: white",
        "miles: 80,390",
        "other traits: ABS brakes, Alloy wheels, Electronic Stability Control, Illuminated entry, Low tire pressure warning, Remote keyless entry, Traction control. ",
        "driver age: 30",
    ]
}